<%# content_for :content do %>

<div class="return_home">
	<a href="/blank">Hide</a>
</div>

<div id="display_content">
    <h2>Display Content:</h2><br>

	<p>		

<%# display individual blog post details%>

		<form method='post' action="/post/<%= @blog['id'] %>">
			<label>Body Text:</label><%= @blog["body_text"] %>"> 
			<label>Author:</label><%= @blog["author"] %>">
			<label>Created:</label><%= @blog["created_at"] %>">
		</form>

	</p>

</div>

<%# end %>
