<%# name the result rows in main.rb route go through each row of the result %>

<%# content_for :menu_sub do %>
		
<div class="return_home">
	<a href="/blank">Hide</a>
</div>

<div id="display_brief">
    <h2>Display Brief:</h2><br>

	<% @res.each do |row| %>
		<p>		<%= row['id'] %> <%= row['title'] %> <%= row['abstract'] %> 
	<% end %>

	<form method='post' action="/post/<%= row['id'] %>/_content">
			<button>View Details</button>
	</form>

		</p>

</div>

<%# end %>