<% content_for :menu do %>
		<div class="return_home">
            <a href="/blank">Back to Homepage</a>
        </div>

        <div id="menu">
			<ul class="nav">
				<h1>Main Menu</h1>
				<li><a href="/">Home</a></li>
				<li><a href="/_menu_sub_display">Display Posts</a></li>
				<li><a href="/_menu_sub_create">Create Post</a></li>
				<li><a href=""></a></li>
			</ul>
		</div>
<% end %>