<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Happi Tails</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<div id= "container" class="fluid">
		<div id="top">
	    	<div id="title_text">
	    		<h1>Happi Tails</h1>
	        </div>
		</div>

		<div id="top_left">

			<div id="menu">
				<div>
					<ul class="nav">
						<h1>Main Menu</h1>
						<li><a href="/">Display Shelters</a></li>
					</ul>
			</div>

		</div>

		<div id="top_right">

	  		<%= yield %>

		</div>

	</div>

	<div class="nav" id="footer">

        &copy; Copyright Luke Schoen

    </div>

</body>
</html>