        <div>
            <h2><a name="Federico"></a>Federico</h2>
            <img src="http://i.imgur.com/4Uys4ET.png"/><br>
            <p>Federico is the most Italian person in the group!</p>
            <h3>Hobbies</h3>
            <ol>
                <li>Football (Soccer!)</li>
                <li>Kitesurfing</li>
            </ol>
            <h3>Skills</h3>
            <table style="border: solid black 1px; text-align:left; cellpadding:5px; cellspacing:5px;">
                <thead> 
                    <tr>
                        <th>Skills</th>
                        <th>Description</th>
                    <tr>
                </thead>
                <tbody>     
                    <tr>
                        <td>Problem Solving</td>
                        <td>I can find the best solution to increase your company performance through a new Ruby app.</td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td>Able to develop fantastic web applications with a great design.</td>
                    </tr>
                </tbody>
            </table>
            <h3>Links</h3>
            <ul>
                <li><a href="http://www.linkedin.com">Federico is on LinkedIn! Find him!</a></li>
            </ul>
            <p><a href="#">Back to top!</a></p>
        </div>