<div>
            <h2><a name="Back"></a>Luke</h2>
            <img src="https://2.gravatar.com/avatar/edebc899566042c73102f52a9a72b015?d=https%3A%2F%2Fidenticons.github.com%2Fdad3a3a5726c9079aa2ba69f3010a53d.png&r=x&s=440" height="100px" width="100px" /> 
            <br>
            <p>Luke is the wisest of the group!</p>
            <h3>Hobbies</h3>
            <ol>
                <li>Surfing</li>
                <li>Ruby</li>
            </ol>
            <h3>Skills</h3>
            <table border="1" style="border: solid black 1px; text-align:left; cellpadding:5px; cellspacing:5px;">
                <thead> 
                    <tr>
                        <th >Skills</th>
                        <th>Description</th>
                    <tr>
                </thead>
                <tbody>     
                    <tr>
                        <td>Surfing</td>
                        <td>Aspiring professional having surfed unsuccessfully for over 15 years.</td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td>The group member with the most amount of errors accumulated to date at WDI.</td>
                    </tr>
                </tbody>
            </table>
            <h3>Links</h3>
            <ul>
                <li><a href="http://lukeschoen.blogger.com">Luke's WDI Blog</a></li>
            </ul>
            <p><a href="#Back">Back to top!</a></p>
        </div>