<div>
            <h2><a name="Marcus"></a>Marcus</h2>
            <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn1/931233_10151660756289048_18253811_n.jpg"/><br>
            <p>Marcus is a man of very few words!</p>
            <h3>Hobbies</h3>
            <ol>
                <li>Guitar</li>
                <li>Snowboarding</li>
            </ol>
            <h3>Skills</h3>
            <table style="border: solid black 1px; text-align:left; cellpadding:5px; cellspacing:5px;">
                <thead> 
                    <tr>
                        <th>Skills</th>
                        <th>Description</th>
                    <tr>
                </thead>
                <tbody>     
                    <tr>
                        <td>Nunchuck</td>
                        <td>I once killed a guy!</td>
                    </tr>
                    <tr>
                        <td>Bow hunting</td>
                        <td>I once killed a liger.</td>
                    </tr>
                </tbody>
            </table>
            <h3>Links</h3>
            <ul>
                <li><a href="http://www.linkedin.com">Marcus is on LinkedIn! Find him!</a></li>
            </ul>
            <p><a href="#Back">Back to top!</a></p>
        </div>