<h1>Menu</h1>

<div style="border:4px solid purple; display: inline-block; clear: left;">
	<strong>Menu</strong>
	<%= link_to 'Robots', robots_path %> |
	<%= link_to 'Senses', senses_path %> |
	<%= link_to 'Ideas', "#" %> |
	<%= link_to 'Hunchtest', "#" %>

</div>


<div style="border:4px solid purple; display: inline-block; float:right">
		<p><strong>Top Artists:</strong></p>
		Test

</div>


