<div class="formcontent">
<form class="formnew" action="/posts" method="post">
  
  <label class="formtext" for="title">Title:</label><br/>
  <input type="text" name="title"></br>
 
  <label class="formtext" for="description">Description:</label></br>
  <textarea type="text" name="description" rows="3" cols="40"></textarea><br/>

  <label class="formtext" for="content">Content:</label><br/>
  <textarea type="text" name="content" rows="10" cols="50"></textarea><br/>

  <label class="formtext" for="author">Author:</label><br/>
  <input type="text" name="author"><br/>
  <button>Submit Blog Post</button><br/>

</form>
</div>