<!--Outer Container -->
<div id="container">
  <div id="header">
    <h1>Ecardly</h1>
  </div>
<!-- Start Content -->
<div id="content">
      <!-- Start Sidebar -->
        <div id="sidebar">
          <!-- Start Sidebar Links -->
          <div class="sidebarlinks">
            <h3>Archive</h3>
              <a href="#">January</a><br/>
              <a href="#">February</a><br/>
              <a href="#">March</a><br/>
              <a href="#">April</a><br/>
              <a href="#">May</a><br/>
              <a href="#">June</a><br/>
              <a href="#">July</a><br/>
            
            <h3>Blogroll</h3>
              <a href="http://www.mailchimp.com" target="_blank">Mailchimp</a><br/>
              <a href="http://shopify.com" target="_blank">Shopify</a><br/>
              <a href="http://thenextweb.com" target="_blank">The Next Web</a><br/>
              <a href="http://mint.com" target="_blank">Mint.com</a><br/>
              <a href="http://mashable.com" target="_blank">Mashable</a><br/>
          </div>
          <!-- Close Sidebar Links -->
          <!-- Start Sidebar Images -->
          <div class="sidebarimages">
            <img src="images/ad-cut-and-paste.gif" alt="cut and paste ad" title="cut and past ad"/>
            <img src="images/ad-postcard-tee.png" alt="postacrd tee" title="postcard tee"/>
            <img src="images/ad-submit-your-own.png" alt="submit your own ad" title="submit your own ad"/>
          </div> 
          <!-- Close Sidebar Images --> 
        </div>
  <!-- Close Sidebar -->
  <!-- Start Ecard -->
  <div class="ecard">
    <h2>Ecard of the Day</h2>
    <img src="images/ecard-nycstartups.jpg" alt="ecard ny startups" title="ecard ny startups"/>
    <!-- Start of Ecard Description -->
      <div class="ecard-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius. <a href="#">Download</a></p>
      </div>
      <!-- End of Ecard Description -->
      <!-- Start of Comments -->
      <div class="comments">
        <p>Posted by <a href="#">Steve Smith</a> on August 2, 2012  /  Comments (<a href="#">3</a>)</p>
      </div>
      <!-- End of Comments -->
      <div class="clear"></div>
  </div>
  <!-- End Ecard -->
   <!-- Start Ecard -->
  <div class="ecard">
    <h2>Doing the Big Work</h2>
    <img src="images/ecard-courage.jpg" alt="ecard courage" title="ecard courage"/>
    <!-- Start of Ecard Description -->
      <div class="ecard-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a consectetur purus. Pellentesque at leo erat, id pellentesque sapien. Cras id purus sem. Nulla lacinia consequat nulla, vitae porttitor urna venenatis id. Nam iaculis risus ac mauris vestibulum malesuada. Nulla dolor mi, cursus sed ornare vel, feugiat sed nibh. Suspendisse vitae pulvinar ligula. In eu dui erat. Etiam sit amet malesuada turpis. Duis dapibus feugiat euismod. Suspendisse vitae consequat nunc. Vivamus aliquet vulputate varius. <a href="#">Download</a></p>
      </div>
      <!-- End of Ecard Description -->
      <!-- Start of Comments -->
      <div class="comments">
        <p>Posted by <a href="#">Melanie Stevens on August 6, 2012  /  Comments (<a href="#">3</a>)</p>
      </div>
      <!-- End of Comments -->
      <div class="clear"></div>
  </div>
  <!-- End Ecard -->
</div>
<!-- End Content -->
</div>
<!-- End Outer Container -->
<!-- Start Footer -->
<div id="footer">
  <a href="http://twitter.com" target="_blank"><img src="images/social-icon-twitter.png" alt="twitter" title="twitter"/></a>
  <a href="http://facebook.com" target="_blank"><img src="images/social-icon-facebook.png" alt="facebook" title="facebook"/></a>
  <a href="http://pinterest.com" target="_blank"><img src="images/social-icon-pinterest.png" alt="pinterest" title="pinterest"/></a>
</div>
    <!-- End Footer