<form action="/" method="get">
  <input type="text" name="movie_title" autofocus>
  <button>Check Movie</button>
</form>

<ul>
  <% @movie_data.each do |key, value| %>
    <li>
      <% if key == "Poster" %>
        <img src= "<%= value %>" />
      <% else %>
        <strong><%= key %> </strong><%= value %>
      <% end %>
    </li>
      
  <% end %>

</ul>
