<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Movies App</title>
<style>
div {
    margin: 20 auto;
    background-color: aqua;
    color: blue;
}
</style>
</head>
<body>
<%= yield %>
</body>
</html>