<div id="container" class="clear">
<header class="clear">
  <a href="/"><img src="images/galogo.png"/></a>
  <h1>wdi - about</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/students/alberto">Alberto</a>
  <a href="/students/pranava">Pranava</a>
  <a href="/students/luke">Luke</a>
  <a href="/students/emily">Emily</a>
  <a href="/contact">Contact</a>
</nav>
<section>
  <h4>Transforming Thinkers into Creators.</h4>
  <div class="about_content clear">
  <div class="about_left clear">
    <img src="images/device.jpeg"/>
  </div>
  <div class="about_right clear">
    <p>Immersives are 8-12 week, full-time programs that offer students the opportunity to learn fundamentals, create a portfolio, and interact with experts in their field. Students emerge from these programs prepared for roles as junior-level Rails developers and user experience designers.</p>
  </div>
</div>
  <h5>"Trying to learn programming from a book is hard because most assume you know way more that you do. At General Assembly, the instructor started from square one and within a few weeks, we were building full-fledged apps."</h5>
</section>
<section class="clear qns">
  <div class="about_right morequestions clear">
    <h3>Have more questions?</h3>
    <a href="/contact">Get in touch</a>
  </div>
  <div class="about_left developer clear">
    <h6>Become a web developer</h6>
  </div>
</section>
<footer>
  <p> &copy; Copyright Emily McCartney 2013</p>
</footer>
</div>