<div id="container" class="clear">
<header class="clear">
  <a href="/"><img src="/images/galogo.png"/></a>
  <h1>WDI - contact us</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/students/alberto">Alberto</a>
  <a href="/students/pranava">Pranava</a>
  <a href="/students/luke">Luke</a>
  <a href="/students/emily">Emily</a>
  <a href="/contact">Contact</a>
</nav>
<section id="contact">
  <form class="form" action="/contact" method="post">
      <h6>Fill in your details</h6>

   <label>What is your name?</label><br/><br/>
   <input type="text" name="name"/>
   <br/>
   <br/>
   <label>What is your email?</label><br/><br/>
   <input type="email" name="email"/>
   <br/>
   <br/>

   <label>Select your student</label><br/><br/>
   <select name="student">
       <option>Alberto</option>
       <option>Pranava</option>
       <option>Luke</option>
       <option>Emily</option>
   </select>
   <br/>
   <br/>
   <textarea name="message"></textarea><br/>
   <br/>
   <br/>
   <input  class="submit" type="submit" value="Send email" />

  </form>
  <% if params.size > 0 %>
   <p>thanks your message has been sent to <%= params[:student] %></p>
  <% end %>
 </section>
 <footer>
  <p> &copy; Copyright Emily McCartney 2013</p>
</footer>
</div>