<div id="container" class="clear">
<header class="clear">
  <a href="/"><img src="images/galogo.png"/></a>
  <h1>WDI - STUDNETS</h1>
</header>
<div class="box about">
  <h2><a href="/about">About</h2>
</div>

<div class="box contact">
  <h2><a href="/contact">Contact</h2>
</div>

<div class="box pranava">
  <h2><a href="/students/pranava">Pranava</h2>
</div>

<div class="box alberto">
  <h2><a href="/students/alberto">Alberto</h2>
</div>

<div class="box luke">
  <h2><a href="/students/luke">Luke</h2>
</div>

<div class="box emily">
  <h2><a href="/students/emily">Emily</h2>
</div>

</div>







