<DOCTYPE! html>
 <html>

 <head>
  <title>GA Student Community Jan-14</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
 </head>

 <body>
  <%= yield%>
 </body>

</html>