<div id="container" class="clear">
<header class="clear">
  <a href="/"><img src="/images/galogo.png"/></a>
  <h1>not what your looking for</h1>
</header>
<h4>Opps Wrong Page</h4>
<div class="opps">
<h5><a href="/">Try again</a></h5>
</div>
<footer>
  <p> &copy; Copyright Emily McCartney 2013</p>
</footer>
</div>