<div id="container" class="clear">
<header class="clear">
  <a href="/"><img src="/images/galogo.png"/></a>
  <h1>Thanks for getting in contact</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/students/alberto">Alberto</a>
  <a href="/students/pranava">Pranava</a>
  <a href="/students/luke">Luke</a>
  <a href="/students/emily">Emily</a>
  <a href="/contact">Contact</a>
</nav>
<section class="thanks">
  <img src="/images/smiley.png"/>

</section>
</div>