<!DOCTYPE html>
<html>
 <head>
<!--  <link rel="stylesheet" type="text/css" href="style.css">
 -->  
 <title>MTS</title>
 </head>

 <body>

  <%= yield %> <!--pulls in the individual pages and put it in there-->

 </body>
</html>